.services {
	.slick-list{
		max-height: 300px !important;
		height: 300px !important;
		
	}
	.slick-track{
		height: auto !important;
	}
	&__development {
		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
		}
		&::before {
			width: 100px;
			height: 39px;
			bottom: 43%;
			right: 6%;
			background: url('@img/icons/cursor_development1.svg') no-repeat center /
				cover;
		}
		&::after {
			width: 122px;
			height: 39px;
			background: url('@img/icons/cursor_development2.svg') no-repeat center /
				cover;
			bottom: 0;
			left: 6%;
		}
	}
}
