<footer class="py-3 footer">
	<div class="container">
		<div class="grid grid-cols-12 py-4 border-t gap-7 border-t-gray_border">
			<div class="col-span-12 lg:col-span-5">
				<div class="flex mb-10 gap-7">
					<a href="/" class="block max-w-full text-center">
						<img src="@img/icons/logo.svg" alt="logo" class="max-w-full" />
					</a>
					<small class="text-sm leading-tight text-txt">
						©<a href="#" class=""> Дизайн-студия АТИБ, 2023</a>
					</small>
				</div>
				<div
					class="flex flex-wrap items-center justify-center gap-7 sm:justify-between sm:gap-1"
				>
					<div class="">
						<img src="@img/icons/Alfa.svg" alt="Alfa" class="" />
					</div>
					<div class="">
						<img src="@img/icons/Visa.svg" alt="Visa" class="" />
					</div>
					<div class="">
						<img src="@img/icons/Visa_secure.svg" alt="Visa secure" class="" />
					</div>
					<div class="">
						<img src="@img/icons/Master.svg" alt="Master" class="" />
					</div>
					<div class="">
						<img src="@img/icons/Master_ID.svg" alt="Master ID" class="" />
					</div>
					<div class="">
						<img src="@img/icons/Pay.svg" alt="Pay" class="" />
					</div>
					<div class="">
						<img src="@img/icons/samsung_pay.svg" alt="Samsung pay" class="" />
					</div>
					<div class="">
						<img src="@img/icons/Белкарт.svg" alt="Белкарт" class="" />
					</div>
					<div class="">
						<img
							src="@img/icons/Белкарт_Интернет.svg"
							alt="Белкарт Интернет"
							class=""
						/>
					</div>
				</div>
			</div>
			<div class="flex flex-col col-span-12 lg:col-span-7 lg:ms-24">
				<div class="flex flex-col mb-10 lg:self-end lg:mr-9">
					<a href="#" class="text-sm leading-tight text-txt">
						Политика конфиденциальности</a
					>
					<a href="#" class="text-sm leading-tight text-txt"> Способы оплаты</a>
				</div>
				<p class="text-sm leading-tight text-txt">
					Информация, размещенная на сайте, не является публичной офертой!
				</p>
			</div>
		</div>
	</div>
</footer>
