<header
	class="fixed py-11 header z-[9999] left-0 right-0 top-0  text-txt group-[.white-text]:text-white group-[id=home]:text-white">
	<div class="container px-2">
		<div class="z-40 flex justify-between pb-3 ">
			<div class="pt-2">
				<a href="/" class="block max-w-full text-center">
					<img src="@img/logo.png" alt="logo" class="max-w-full" width="175" height="180" />
				</a>
			</div>
			<div class="flex justify-between gap-20">

				@@include('../blocks/_main-menu.html')
				<div class="">
					<button class="flex gap-4 items-center header__burger" type="button">
						<span class="text-lg  text-txt uppercase group-[.white-text]:text-white font-display">
							Каталог
						</span>
						<span
							class="rounded-full border border-white flex justify-center items-center w-14 h-14 header__arrow"></span>
					</button>
					
				</div>
			</div>
		</div>
	</div>
</header>