<header
	class="fixed py-12 header z-[9999] left-0 right-0 top-0  text-txt group-[.white-text]:text-white group-[id=home]:text-white">
	<div class="container px-2">
		<div class="z-40 flex justify-between pb-3 ">
			<div class="">
				<a href="/" class="block max-w-full text-center">
					<img src="@img/logo.png" alt="logo" class="max-w-full" width="175" height="180" />
				</a>
			</div>
			<div class="flex justify-between gap-20">

				@@include('../blocks/_main-menu.html')
				<div class="">
					<button id="menuDropdownButton" data-dropdown-toggle="menuDropdown" data-dropdown-trigger="hover" class="flex gap-4 items-center"
						type="button">
						<span class="text-lg  text-txt uppercase group-[.white-text]:text-white font-display">
							Каталог
						</span>
						<span class="rounded-full border border-white flex justify-center items-center w-14 h-14">
							<img src="@img/icons/arrow-menu.svg" alt="" class="">
						</span>
					</button>
					<!-- Dropdown menu -->
					@@include('../blocks/_dropdown.html',{})
				</div>
			</div>
		</div>
	</div>
</header>