.btn-primary {
}
.btn-secondary {
}
.btn-header {
	display: flex;
	padding: 15px 30px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: var(--Gray, #0b0b0c);
	font-family: 'SF UI Display';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border-radius: 80px;
}
.btn-menu {
}
